{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}
<head>
    <link = rel="stylesheet" href="../../public/css/output/teacherStyle.css"/>
    <title>{% block title %}Espace Enseignant{% endblock %} </title>
</head>
 <h1> test </h1>

{% endblock %}

{%block content%} 

{% endblock %}